* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}

.container div {
    padding: 2em;
}

.header {
    display: grid;
    background-color: blueviolet;
    grid-template-columns: 2fr 1fr; 
    grid-column: 2/5;
}

.search-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 15px;
    background-color: white;
    border-radius: 20px;


}

.userNotification {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.sidebar {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/4;
    gap: 2em;
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-column: 2/4;
    grid-row: 2;
    gap: 1em;
}

.main .card {
    background-color: white;
    
}

.right-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(350px, 1fr));
    grid-column: 4;
    grid-row:2/3;
    gap: 100px;
}

 .right-card {
    
    background-color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(2em, 1fr));

}

button {
    padding: 15px;
    border-radius: 30px;
    width: 115px;
}